<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../assets/css/materialize.min.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../assets/androidjs.js"></script>
    <script src="../assets/js/scripts.js"></script>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <div class="container container-95" id="error_401">
        <div class="row" style="text-align: center; justify-content: center; padding: 60px 40px 40px 40px;">
            <img src="../assets/images/401.png" style="width: 280px;">
            <div class="row" style="font-weight: 600; font-size:22px; color: #ba68c8 ;">
                <h3>No Authorization Found.</h3>
                <div class="row">
                    <span>This page is not publically available.</span>
                    <div class="row">
                        <span>To access it please login first.</span>
                        <div class="row" style="padding: 10PX; ">
                            <a class="waves-effect waves-light btn" style="background-color: #8e24aa;"
                                onclick="nevigate('index',0) ">TAKE ME TO LOGIN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="../assets/js/materialize.min.js"></script>
</body>

</html>