<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../assets/css/materialize.min.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../assets/css/styles.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body onload="setTotalSeverityInHtml(getTotalSeverity()), setHeight('home_page');">
    <div>
        <header id="header">
            <div>
                <div class="row blue-grey" style="color:white; padding:5px 0px;">
                    <div class="col s6">
                        <div class="row margin-bottom" style="display:block; padding: 20px 0px 10px 20px; ">
                            <img class="" style="max-width:170px" src="../assets/images/shiratech_icomox_logo.png">
                        </div>
                    </div>
                    <div class="col s6" onclick="logout(-1), resetAlertsCards()"
                        style="display: grid;justify-content: right; padding-right: 0px;">
                        <div class="row" style=" margin: 0px;" style="display: grid;justify-content: right;">
                            <div class="col s6" style="font-size: 12px; padding-top:22px; padding-right: 0px;">
                                <span style="padding-right: 10px;">LOGOUT</span>
                            </div>
                            <div class="col s6"
                                style="font-size: 12px; padding-top:25px; padding-right: 0px; padding-left: 14px;">
                                <span>
                                    <i class=" material-icons" style="font-size: 14px;">arrow_forward</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="./home_page.html" class="breadcrumb" style="margin-left:10px">Home</a>
                </div>
            </div>
        </nav>
        <div class="container container-95" id="home_page" style="margin-top:20px;">
            <div class="row" onclick="nevigate('alerts_page','high_level_alerts', 'HIGH LEVEL ALERTS')"
                id="high_level_alerts">
                <div class="col s12 m6">
                    <div class="card white" style="color:#263238; border-radius: 2px;">
                        <div class="card-content" style="padding:15px">
                            <div class="row" style="margin: 0px;">
                                <div class="col s3 red lighten-1"
                                    style=" height:55px; border-radius:5px; position:relative">
                                    <i class="material-icons" style="position: absolute;top: 12px; left: 28%; color:white;
                                                font-size: 2.2rem;">error</i>
                                </div>
                                <div class="col s7" style="padding-left:15px">
                                    <span class="card-title" style="font-weight: 600; font-size:22px"
                                        id="high_level_alerts_label">Assets</span>
                                    <span class="card-title">High level alert</span>
                                </div>
                                <div class="col s2" style="
                                            position: absolute;
                                            top: 28px;
                                            right: 0px;">
                                    <i class="small material-icons">keyboard_arrow_right</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" onclick="nevigate('alerts_page','medium_level_alerts', 'MEDIUM LEVEL ALERTS')"
                id="medium_level_alerts">
                <div class="col s12 m6">
                    <div class="card white" style="color:#263238; border-radius: 2px;">
                        <div class="card-content" style="padding:15px">
                            <div class="row" style="margin: 0px;">
                                <div class="col s3 amber accent-2"
                                    style=" height:55px; border-radius:5px; position:relative">
                                    <i class="material-icons" style="position: absolute;top: 12px; left: 28%; color:white;
                                                font-size: 2.2rem;">warning</i>
                                </div>
                                <div class="col s7" style="padding-left:15px">
                                    <span class="card-title" style="font-weight: 600; font-size:22px"
                                        id="medium_level_alerts_label">Assets</span>
                                    <span class="card-title">Medium level alerts</span>
                                </div>
                                <div class="col s2" style="
                                            position: absolute;
                                            top: 28px;
                                            right: 0px;">
                                    <i class="small material-icons">keyboard_arrow_right</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" onclick="nevigate('alerts_page','normal_operation', 'NORMAL OPERATION')"
                id="normal_operation">
                <div class="col s12 m6">
                    <div class="card white" style="color:#263238; border-radius: 2px;">
                        <div class="card-content" style="padding:15px">
                            <div class="row" style="margin: 0px;">
                                <div class="col s3 green lighten-2"
                                    style=" height:55px; border-radius:5px; position:relative">
                                    <i class="material-icons" style="position: absolute;top: 12px; left: 31%; color:white;
                                                font-size: 2.2rem;">check_circle</i>
                                </div>
                                <div class="col s7" style="padding-left:20px">
                                    <span class="card-title" style="font-weight: 600; font-size:22px"
                                        id="normal_operation_label">Assets</span>
                                    <span class="card-title">Normal Operation</span>
                                </div>
                                <div class="col s2" style="
                                            position: absolute;
                                            top: 28px;
                                            right: 0px;">
                                    <i class="small material-icons">keyboard_arrow_right</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/scripts.js"></script>
</body>

</html>